@charset "utf-8";

body {
    background-color: #f0d4af;
    color: #b8a486;
}

.formulario {
    background-color: antiquewhite;
    padding: 10%;
}

button {
    background-color: #b8a486;
    border-radius: 20%;
    color: #665842;
}

img {
    position: absolute;
    top: 10%;
    left: 65%;
    animation: buscar 2s linear infinite;
}

@keyframes buscar {
    0% {
        transform: rotate(0deg) translateX(37px) rotate(0deg);
    }

    100% { 
        transform: rotate(360deg) translateX(37px) rotate(-360deg);
    }
}